// Jaluse stiil

.footer {
    background: #1a202c;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 2px solid #2b6cb0;
    font-weight: 600;
    margin-top: auto;
  }
  